name: CI

on: push
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install modules
      run: npm install
    - name: Run 
      run: npm install
    - name: Run tests
      run: npm run test